<!-- templates/users/crear_subasta.html -->
{% extends 'users/base.html' %}
{% load static %}

{% block title %}Publicar Subasta{% endblock %}

{% block content %}
<main>
    <section class="section text-center" aria-label="crear subasta">
        <div class="container">
            <h2 class="title-4">Publica una nueva subasta</h2>

            <div class="form-container">
                <form method="post" enctype="multipart/form-data" class="styled-form">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="form-buttons">
                        <button type="submit" class="btn btn-primary">Publicar</button>
                        <a href="{% url 'subasta' %}" class="btn btn-secondary">Cancelar</a> <!-- Botón Cancelar -->
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>

<style>
    .form-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .styled-form label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #333; /* Color oscuro para las etiquetas */
        text-align: left;
    }

    .styled-form input[type="text"],
    .styled-form input[type="file"],
    .styled-form textarea,
    .styled-form select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #e9ecef;
        color: #333;
    }

    .form-buttons {
        display: flex;
        justify-content: space-between;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-primary:hover,
    .btn-secondary:hover {
        opacity: 0.8;
    }
</style>
{% endblock %}
