{% extends 'users/base.html' %}
{% load static %}


{%block title%} Miitin TCG {% endblock %}

{% block content %}
      <main>
        <article>
            <!-- carrusel -->

            <section class="hero text-center" aria-label="home" id="home">
                <ul class="hero-slider" data-hero-slider>

                    <li class="slider-item active" data-hero-slider-item>

                        <div class="slider-bg">
                            <img src="{% static 'img/hero-slider1.png' %}" width="1880" height="950" alt="" class="img-cover">
                        </div>

                        <p class="label-2 section-subtitle slider-reveal">TCG | Konami</p>

                        <h1 class="display-1 hero-title slider-reveal">
                            ¡ Yu-Gi-Oh !
                        </h1>

                        <p class="body-2 hero-text slider-reveal">
                            Adentrate en este interesante mundo lleno de estrategias.
                        </p>

                        <a href="#" class="btn btn-primary slider-reveal">
                            <span class="text text-1"> Mira la Tienda</span>
                            <span class="text text-2" aria-hidden="true"> Mira la Tienda</span>
                        </a>
                    </li>

                    <li class="slider-item" data-hero-slider-item>

                        <div class="slider-bg">
                            <img src="{% static 'img/hero-slider2.png' %}" width="1880" height="950" alt="" class="img-cover">
                        </div>

                        <p class="label-2 section-subtitle slider-reveal">TCG | Salo</p>

                        <h1 class="display-1 hero-title slider-reveal">
                            Mitos y Leyendas
                        </h1>

                        <p class="body-2 hero-text slider-reveal">
                            Juega con tus leyendas o mitos favoritos creando tu propia estrategia
                        </p>

                        <a href="#" class="btn btn-primary slider-reveal">
                            <span class="text text-1"> Mira la Tienda</span>
                            <span class="text text-2" aria-hidden="true"> Mira la Tienda</span>
                        </a>
                    </li>

                    <li class="slider-item" data-hero-slider-item>

                        <div class="slider-bg">
                            <img src="{% static 'img/hero-slider3.jpg' %}" width="1880" height="950" alt="" class="img-cover">
                        </div>

                        <p class="label-2 section-subtitle slider-reveal">TCG | Hudson Soft</p>

                        <h1 class="display-1 hero-title slider-reveal">
                            Pokemon TCG
                        </h1>

                        <p class="body-2 hero-text slider-reveal">
                            Colecciona tus pokemons favoritos y pelea junto a ellos
                        </p>

                        <a href="#" class="btn btn-primary slider-reveal">
                            <span class="text text-1"> Mira la Tienda</span>
                            <span class="text text-2" aria-hidden="true"> Mira la Tienda</span>
                        </a>
                    </li>

                </ul>


                <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
                    <ion-icon name="chevron-back"></ion-icon>
                </button>

                <button class="slider-btn next" aria-label="slide to next" data-next-btn>
                    <ion-icon name="chevron-forward"></ion-icon>
                </button>

                <a href="#" class="hero-btn has-after">
                    <img src="{% static 'img/hero-icon.png' %}" width="58" height="58" alt="booking icon">
                    <span class="label-2 text-center span">Encuentra tu mazo</span>
                </a>

            </section>


            <!-- Servicios -->

            <section class="section service bg-black-10 text-center" aria-label="service">
                <div class="container">

                    <p class="section-subtitle label-2"></p>

                    <h2 class="headline-1 section-title"></h2>

                    <p class="section-text">
                        Miitin se encarga de brindar toda la informacion necesaria para conectar estas 3 comunidades <br>
                        es por es que agradecemos tu preferencia y a continuacion podras ver los distintos tcg que disponemos para su servicios <br>
                        escoga cual es el que desea conocer mas acerca de, o que cartas esta buscando para adquirir o intercambiar.
                    </p>

                    <ul class="grid-list">

                        <li>
                            <div class="service-card">
                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width: 285; --heigth:336">
                                        <img src="{% static 'img/service-1.jpeg' %}" width="285" height="336" 
                                        loading="lazy" alt="Mitos y Leyenda" class="img-cover">
                                    </figure>
                                </a>

                                <div class="card-content">

                                    <h3 class="title-4 card-title">
                                        <a href="#">Mitos y Leyendas</a>
                                    </h3>

                                    <a href="{% url 'subasta' %}" class="btn-text hover-underline label-2">Ver Subastas</a>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="service-card">
                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width: 285; --heigth:336">
                                        <img src="{% static 'img/service-2.jpg' %}" width="285px" height="336px" 
                                        loading="lazy" alt="Yu-Gi-Oh" class="img-cover">
                                    </figure>
                                </a>

                                <div class="card-content">

                                    <h3 class="title-4 card-title">
                                        <a href="#">Yu-Gi-Oh</a>
                                    </h3>

                                    <a href="{% url 'subasta' %}" class="btn-text hover-underline label-2">Ver Subastas</a>

                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="service-card">
                                <a href="#" class="has-before hover:shine">
                                    <figure class="card-banner img-holder" style="--width: 285; --heigth:336">
                                        <img src="{% static 'img/service-3.png' %}" width="285" height="336" 
                                        loading="lazy" alt="Pokemon TCG" class="img-cover">
                                    </figure>
                                </a>

                                <div class="card-content">

                                    <h3 class="title-4 card-title">
                                        <a href="#">Pokemon TCG</a>
                                    </h3>

                                    <a href="{% url 'subasta' %}" class="btn-text hover-underline label-2">Ver Subastas</a>

                                </div>
                            </div>
                        </li>

                    </ul>

                    <img src="assets/images/logo-pokemon.png" width="246" height="412" loading="lazy" 
                    alt="shape" 
                        class="shape shape-1 move-anim">
                    <img src="assets/images/logo_myl.png" width="246" height="412" loading="lazy" 
                    alt="shape" 
                        class="shape shape-1 move-anim">
                    <img src="assets/images/yugi-logo.png" width="246" height="412" loading="lazy" 
                    alt="shape" 
                        class="shape shape-1 move-anim">


                </div>
            </section>

            <!-- acerca de nosotros -->

            <section class="section about text-center" aria-labelledby="acerca de nosotros" id="about">
                <div class="container">

                    <div class="about-content">
                        <p class="label-2 section-subtitle"> ¿Por que escogimos este mundo?</p>

                        <h2 class="headline-1 section-title">Si te interesa te lo comentamos</h2>
                        
                        <p class="section-text">
                            Todo esto comenzo ya que miitin esta formado por jugadores tanto amateurs como veteranos,
                            llegamos a la conclusión que no existe un lugar en especifico para informarse de este mundo,
                            y que tampoco el mercado se ve reflejado con la mejor transparencia posible,
                            es por que que en conjunto como equipo hemos querido proponer esta solución,
                            una pagina que no solo brinde información, si no que tambien ayude a estabilizar el mercado
                            ya que la inexperiencia de algunos jugadores puede hacer que terminen pagando precios que no son,
                            o tambien jugadores vendiendo sus cartas por un precio muy bajo, es por eso que miitin viene a solucionar eso.
                        </p>

                        <div class="contact-label"> Aqui esta el telefono de contacto para cualquier consulta</div>

                        <a href="tel:+56995264983" class="body-1 contact-number hover-underline">+569-95264983</a>

                        <a href="#" class="btn btn-primary">
                            <span class="text text-1">Leer mas</span>
                            
                            <span class="text text-2" aria-hidden="true">Leer mas</span>
                        </a>

                        <figure class="about-banner">
                            <img src="./" alt="">
                        </figure>

                    </div>

                </div>
            </section>


        </article>
      </main>
{% endblock %}      
</body>
</html>