{% extends "base.html" %}
{% load custom_tags %}
{% block title %}Registro - Miitin Scanner{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-12">
        <div class="form-container">
            <h2>Registro de usuario</h2>
            <form method="POST" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    {{ form.password1.label_tag }}
                    {{ form.password1|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Registrarse</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
